.component-selector {
  background-color: #1e1b31;
  color: #ddddddbf;
  border-right: 3px solid #333337;

  .shapes-container {
    .shapes-type-heading {
      font-size: 1.2em;
      padding: 0.5em;
    }

    .shapes {
      padding: 0.7em 0;
      background-color: #1f1e38;
    }
  }
}
