$fieldBackgroundColor: #2C2E41;

.component-meta-editor {
    // background-color: #1E1B31;

    .container {

        h3 {
            padding-left: 0.5em;
        }
        
        input, textarea {
            display: inline-block;
            padding: 0.6em 0.8em;
            background: $fieldBackgroundColor;
            margin: 0 0.6em;
            outline: none;
            border: none;
            color: #e5dcdc;
            border-radius: 0.4em;
            
        }

        textarea {
            resize: vertical;
        }
    }
}