$light: #6e6b6bb6;
$dark: #312929;

* {
  overflow: auto;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: 0.2em;
  scrollbar-color: $light $dark;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

*::-webkit-scrollbar-track {
  background: $light;
}

*::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 1.1em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
